.footer-container {
  width: 100%;
  margin-bottom: 2rem;
}
.rules-section {
  width: 100%;
}
.rules-section h2 {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 3.2rem;
  padding: 0 4.3rem;
}
.rules-box {
  width: 100%;
}
.rule {
  width: 100%;
  max-width: 85.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.1rem 2.6rem;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 1rem;
  background-color: #25292b;
}
.rule p {
  font-size: 1.5rem;
  color: #fff;
}

.promotions-section {
  width: 100%;
}
.promotions-section h2 {
  margin-top: 4.4rem;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 3.2rem;
  padding: 0 4.3rem;
}

.promotion-pictures {
  width: 100%;
  max-width: 85.2rem;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS devices */
  white-space: nowrap;
  margin: 0 auto;
  padding-bottom: 1rem;
}
.promotion-pictures div {
  display: inline-block;
  width: 100%;
  max-width: 23.2rem;
  border-radius: 5px;
  margin-right: 1.6rem;
  vertical-align: top;
  color: #fff;
}
.promotion-picture-box1 {
  background: linear-gradient(2deg, #0d649b, #0d649be8, #ef541c00);
  box-shadow: 0px 0px 20px #0d649b;
}
.promotion-picture-box2 {
  background: linear-gradient(2deg, #ef541c, #ef541c99, #ef541c00);
  box-shadow: 0px 0px 20px #ef541c;
}
.promotion-picture-box3 {
  background: linear-gradient(2deg, #1a176c, #1a176c99, #ef541c00);
  box-shadow: 0px 0px 20px #1a176c;
}
.promotion-picture-box4 {
  background: linear-gradient(2deg, #0d649b, #0d649be8, #ef541c00);
  box-shadow: 0px 0px 20px #0d649b;
}
.promotion-pictures div h3 {
  font-size: 1.4rem;
  padding-left: 2.4rem;
}
.promotion-pictures div p {
  font-size: 1.4rem;
  width: 100%;
  max-width: 18rem;
  white-space: pre-line;
  padding-bottom: 2.4rem;
  padding-top: 8rem;
  padding: 0.8rem 0 2rem 2.4rem;
}

.promotion-pic {
  flex-shrink: 0;
  height: 18rem;
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.promotion-pic:last-child {
  margin-right: 0; /* Remove space after last element */
}

.promotion-pictures::-webkit-scrollbar {
  width: 4px;
  height: 6px;
}

.promotion-pictures::-webkit-scrollbar-thumb {
  background-color: #f05a22;
  border-radius: 4px;
}

.promotion-pictures::-webkit-scrollbar-track {
  background-color: #7d7d7d;
}
